


body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    width: 100vw;
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      rgb(211, 242, 242) 50%,
      rgb(220, 250, 250) 100%
    );
  }


.flex-display{
    display: flex;
}

.top-header{
    font-size:  16px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.nav-menus{
    width: 65%;
    height: 100%;
    align-items: center; 
}
.nav-menus>li{
    margin-right: 50px;
}

.top-header>ul{
    list-style-type: none;

}

.nav-action{
    align-items: center;
    width: 19%;
    justify-items: end;
    margin: 0;
    padding: 0;
}

.nav-action>li{
    margin-left: 40px;
}

.hero-section{
    display: flex;
    width: 89%;
    height: 69vh;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.number-design {
    margin-top: 10%;
    width: 25%;
    height: 20px;
    transform: rotate(-90deg);
    position: relative; /* Ensure the pseudo-elements are positioned relative to .number-design */
    font-size: x-large;
}

.number-design::before,
.number-design::after {
    content: '';
    position: absolute; /* Position the lines relative to .number-design */
    top: 50%; /* Align the lines vertically in the middle */
    width: 130px; /* Set the width of the lines */
    height: 2px; /* Set the thickness of the lines */
    background-color: burlywood;
   
}

.number-design::before {
    left: -150px; /* Position the line to the left */
}

.number-design::after {
    right: -120px; /* Position the line to the right */
}
.hero-photo{
    width: 50%;
}

.favourite-collection {
    margin-top: 280px;
    width: 25%;
    font-size: 5rem; /* Adjust size as needed */
    font-weight: bold; /* Make it bold if necessary */
    color: transparent; /* Make the inside transparent */
    -webkit-text-stroke: 3px white; /* Outline width and color */
    text-transform: uppercase; /* Ensure all text is in uppercase */
    writing-mode: vertical-lr; /* For vertical alignment */ /* Adjust spacing if needed */
    text-wrap: nowrap; 
  }

  .hero-text{
    position: absolute;
    left:  12%;
    top: 45%;
  }




