


body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    width: 100vw;
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      rgb(211, 242, 242) 50%,
      rgb(220, 250, 250) 100%
    );
  }


.flex-display{
    display: flex;
}

.top-header{
    font-size:  16px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.nav-menus{
    width: 65%;
    height: 100%;
    align-items: center; 
}
.nav-menus>li{
    margin-right: 40px;
}

.top-header>ul{
    list-style-type: none;

}

.nav-action{
    align-items: center;
    width: 19%;
    justify-items: end;
    margin: 0;
    padding: 0;
}

.nav-action>li{
    margin-left: 40px;
}


